/*********************************************************************************************************
**********************************************************************************************************
***
***  BASE STYLES
***
**********************************************************************************************************
*********************************************************************************************************/


html {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    -moz-osx-font-smoothing: grayscale;
}
body {
    font-family: $fontDefault;  
    color: #000;
    background: #fff;
}
a, 
a:before, 
a:after, 
button {
    @include transition-basic;
}
a {
    text-decoration: none; 
    color: $cBrandBlue;

    &:hover,
    &:focus {
        color: $cBrandBlueLt;
    }
}
button {
    color: inherit;
}
img {
    max-width: 100%;
}
dl > *,
address,
cite {
    font-style: normal;
}
button {
    padding: 0; 
    border: none; 
    background: none;
}
abbr[title] {
    border: none;
}