/*********************************************************************************************************
**********************************************************************************************************
***
***  FORM STYLES
***
**********************************************************************************************************
*********************************************************************************************************/


label,
input,
button {
    display: block;
}
input,
button {
    width: 100%;
    border-radius: 3px;
}
label {
    font-size: 0.875em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.71428571428571em;
}
input {
    font: normal 1em/1.2 $fontDefault; 
    color: #000; 
    padding: 0.625em; 
    background: #fff; 
    height: 2.5em;
    border: 1px solid $cGray;
}
button {
    background: $cBrandGreen;
    color: #fff;
    font: bold 0.875em/2.85714285714286em $fontDefault;
    text-transform: uppercase;
    border: 1px solid $cBrandGreen;

    &:hover {
        background: $cBrandGreenLt;
    }

    &[type="reset"],
    &[type="button"] {
        color: $cGrayDk;
        border: 1px solid $cGray;
        background: transparent;

        &:hover {
            color: $cBrandGreenLt;
        }
    }
}