/*********************************************************************************************************
**********************************************************************************************************
***
***  SASS VARIABLES
***
**********************************************************************************************************
*********************************************************************************************************/


/*==========================================================================
  BREAKPOINT VARIABLES
==========================================================================*/

$breakSmall: 31.4375em; /*Triggers at 483px (+ 20px for scrollbar)*/
$breakMedium: 53.125em; /*Triggers at 830px (+ 20px for scrollbar)*/
$breakLarge: 66.875em;   /*Triggers at 1050px (+ 20px for scrollbar)*/
$breakExtra: 76.25em;   /*Triggers at 1200px (+ 20px for scrollbar)*/


/*==========================================================================
  LAYOUT VARIABLES
==========================================================================*/

$maxWidth: 75em;
$gutter: 3.125em;


/*==========================================================================
  FONT FAMILY VARIABLES
==========================================================================*/

$fontDefault: "Helvetica Neue", Helvetica, Arial, sans-serif;
$fontText: Georgia, Times, "Times New Roman", serif;


/*==========================================================================
  COLOR VARIABLES
==========================================================================*/

$cBrandBlue: #007bc4;
$cBrandBlueLt: lighten($cBrandBlue, 5%);

$cBrandTeal: #00abd6;
$cBrandTealLt: lighten($cBrandTeal, 5%);

$cBrandGreen: #00ab80;
$cBrandGreenLt: lighten($cBrandGreen, 5%);

$cGray: #ddd;
$cGrayLt: #f5f5f5;
$cGrayDk: #999;